<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      {% for link in site.data.navigation.main %}
        {% if link.url contains "http" %}
          {% assign url = link.url %}
        {% else %}
          {% assign url = link.url | relative_url %}
        {% endif %}
        <a class="page-link" href="{{ url }}">{{ link.title }}</a>
      {% endfor %}
      {% for link in site.data.navigation.social %}
        <a class="page-link social-link" href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">
          <i class="{{ link.icon }}"></i>
        </a>
      {% endfor %}
    </nav>

  </div>

</header>
